<a md-fab color="primary" class="floating" routerLink="new">
  <md-icon class="md-24" aria-label="Add new supplier">add</md-icon>
</a>

<md-list class="mat-elevation-z3">
  <md-list-item *ngIf="!loaded && !error">
    <md-spinner class="md-36" aria-label="Loading suppliers"></md-spinner>
  </md-list-item>
  <md-list-item *ngIf="!suppliers.length && loaded">
    <h4 md-line>No suppliers to display</h4>
  </md-list-item>
  <md-list-item *ngIf="error">
    <button md-icon-button (click)="reload()">
      <md-icon class="md-24" aria-label="Reload suppliers">refresh</md-icon>
    </button>
    <md-error md-line>
      Failed to load suppliers
    </md-error>
  </md-list-item>
  <md-list-item *ngIf="removeError">
    <h4 md-line>
      <md-error>Failed to delete supplier</md-error>
    </h4>
  </md-list-item>
  <md-list-item *ngFor="let supplier of suppliers">
    <a md-icon-button routerLink="view/{{supplier.id}}">
      <md-icon md-list-icon aria-label="Show supplier details">info</md-icon>
    </a>
    <a md-icon-button routerLink="edit/{{supplier.id}}">
      <md-icon md-list-icon aria-label="Edit supplier">edit</md-icon>
    </a>
    <button md-icon-button (click)="remove(supplier)">
      <md-icon md-list-icon aria-label="Delete supplier">delete</md-icon>
    </button>
    <h4 md-line>{{supplier.name}}</h4>
    <p md-line>{{supplier.number}} | {{supplier.logo}}</p>
  </md-list-item>
</md-list>
